<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>

  </head>
  <body>
    <a href="/?sort=title"><button>By Title</button></a>
    <a href="/?sort=author"><button>By Author</button></a>
    {% if request.args.get('message') %}
      <p>{{ request.args.get('message') }}</p>
    {% endif %}
    <form method="GET" action="/">
      <input type="text" name="search" placeholder="Search title">
      <button type="submit">Search</button>
    </form>
    <div>
    {% if books %}
      <ol class="book-grid">
      {% for book, author in books %}
      <li>
        <div class="book">
          <img class="book-cover" src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg">
          <div class="book-title">{{ book.title }}</div>
          <div class="book-author">{{author.name}}</div>

        <form method='POST' action="/book/{{ book.id }}/delete">
              <button type="submit">Delete book</button>
        </form>
    </div>
    </li>
        {% endfor %}
    </ol>
    {% else %}
      <p>No books found</p>
    {% endif %}
    </div>
    </body>
</html>